/*:root {
  --primary-color: #e50914;
}
*/
* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
}

body{
    font-family: 'Arial', sans-serif;
    /* works on mac -webkit-font-smoothing: antialiased;*/
    background: #000;
    color: #999;
}

ul {
  list-style: none;
}

h1, h2, h3, h4 {
  color: #fff;
}

a {
  text-decoration: none;
  color:#fff;
}

p {
  margin: 0.5rem;
}

img {
  width: 100%;
  /*max-width: 100%;
  max-height: 100%*/
}

.showcase {
  width: 100%;
  height: 93vh;
  background: url("images/background.png") no-repeat center center/cover;
  position: relative;
}

.showcase::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: inset 120px 100px 250px #000, inset -120px -100px 250px #000;
}

.showcase-top {
  position: relative;
  height: 90px;
  z-index: 2;
}

.showcase-top img {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 170px;
}

.showcase-top a {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translate(0, -60%);*/
}

.showcase-content {
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 9rem;
  z-index: 2;
}

.showcase-content h1 {
  font-size: 5rem;
  margin: 0 0 2rem;
}

.showcase-content p {
  text-transform: uppercase;
  font-size: 1.7rem;
  margin: 0 0 2rem;
}

/*tabs*/
.tabs {
  background: #141414;
  padding-top: 1rem;
  border-bottom: 3px solid #3d3d3d;
}

.tabs .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /*1fr 1fr 1fr*/
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.tabs p {
  font-size: 1.2rem;
  padding-top: 0.5rem;
}

.tabs .container > div /* > points to each div inside*/{
  padding: 1.5rem 0;
}

.tabs .container > div:hover{
  color: #fff;
  cursor: pointer;
}

.tab-border {
  border-bottom: 4px solid #e50914;
}

/*Tab Content*/
.tab-content {
  padding: 3rem;
  background: #000;
  color: #fff;
}
.tab-content-item{
  display: none;
}
.show {
  display: block;
}
.tab-content-item .tab-1-content-inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  justify-content: center;
  align-items: center;
}

.tab-content-item .tab-2-content-top {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.tab-content-item .tab-2-content-top .btn{
  text-transform: uppercase;
  font-size: 1.2rem;
}
.tab-content-item .tab-2-content-bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2rem;
}

.tab-3-content-table table {
  margin-top: 2rem;
  text-align: center;
  width: 100%;
  border-collapse: collapse;
  border-spacing: inherit/*0*/;
}
.tab-3-content-table table thead th {
  text-transform: uppercase;
  padding: .8rem 1.2rem;
}
.tab-3-content-table table tbody tr td:first-child{
  text-align: left;
}
.tab-3-content-table table tbody tr:nth-child(odd){
  background: #222;
}
.tab-3-content-table table tbody tr td{
  text-align: center;
  padding: .8rem 1.2rem;
}


/*Footer*/
.footer, .list a  {
  color: #999;
  margin: 1rem auto;
}
.footer .list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.list ul li{
  line-height: 1.5rem;
}

/*Container*/
.container {
  max-width: 75%;
  margin: auto;
  padding: 0 2rem;
}

/*Text*/
.text-xl {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.text-lg {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.text-md {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.text-center {
  text-align: center;
}
.text-dark {
  color: #999;
}
/*Buttons*/
.btn {
  display: inline-inline-block;
  background: #e50914;
  color: #fff;
  padding: .4rem 1.3rem;
  font-size: 1rem;
  text-align: center;
  border: none;
  cursor: pointer;
  margin-right: .5rem;
  outline: none;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
  border-radius: 2px;
}

.btn:hover{
  opacity: 0.9;
}

.btn-rounded {
  border-radius: 5px;
}

.btn-lg {
  display: inline-block;
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
}


@media(max-width: 960px) {
  .showcase {
    height: 70vh;
  }
  .showcase-top img{
    top: 30%;
    left: 5%;
    transform: translate(0);
  }

  .hide-sm{
    display: none;
  }

  .showcase-content h1{
    font-size: 3.7rem;
    line-height: 1;
  }
  .showcase-content p {
    font-size: 1.5rem;
  }
  .footer .list{
    grid-template-columns: repeat(2, 1fr);
  }
  .btn-xl{
    font-size: 1.5rem;
    padding: 1.4rem 2rem;
  }
  text-xl{
    font: 1.5rem;
  }
  text-lg{
    font-size: 1.3rem;
  }
  text-md{
    font-size: 1rem;
  }
}

@media(max-width: 700px){
  #tab-1-content .tab-1-content-inner{
    grid-template-columns: 1fr;
    text-align: center;
  }
  #tab-1-content .tab-2-content-top {
    display: block;
    text-align:center;
  }
  #tab-1-content .tab-2-content-bottom{
    grid-template-columns: 1fr;
  }
  .showcase::after{
    box-shadow: inset 80px 80px 250px #000, inset -80px -80px 250px #000;
  }
}
